@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-jnqf87');
	src:url('../fonts/icomoon.eot?#iefix-jnqf87') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-jnqf87') format('woff'),
		url('../fonts/icomoon.ttf?-jnqf87') format('truetype'),
		url('../fonts/icomoon.svg?-jnqf87#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e900";
}

.icon-envelop:before {
	content: "\e945";
}

.icon-location2:before {
	content: "\e948";
}

.icon-users:before {
	content: "\e972";
}

.icon-briefcase:before {
	content: "\e9ae";
}

.icon-menu:before {
	content: "\e9bd";
}

